:root {
  --laranja-claro: #FFE0B2;
  --laranja-medio: #FF9800;
  --laranja-escuro: #EF6C00;
  --laranja-queimado: #E65100;
  --laranja-pastel: #FFD180;
  --laranja-coral: #FF7043;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--laranja-coral);
    padding: 20px;
}
.center{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center > h1, h2{
    color: white;
}
.center > h1{
    font-size: 40px;
    margin: 5px;
}
.center > h2{
    font-size: 25px;
    margin: 10px;
}
@media (max-width: 793px) {
    .center{
        width: 50%;
    }
    .center > h1{
        font-size: 30px;
    }
    .center > h2{
        font-size: 18px;
    }
}